.picture-heading {
    text-align: left;
    padding-top: 20px;
    padding-bottom: 5px;
}
.screen-shot {
    margin-top: 30px;
}
hr {
    border: none;
    border-top: 3px double rgb(176, 189, 230);
    color:red;
    overflow: visible;
    text-align: center;
    height: 5px;
}
.post-preview > .post-meta {
    
    color: rgb(130, 43, 156);
  }
  .kitten-style {
      background-color: papayawhip;
  }